body{
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Lucida Console';
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding-top: 3vh;
    margin-bottom: 1.5vh;
}

h3 {
    font-size: 1em;
    margin-top: 2vh;
    margin-bottom: 0vh;
}

h4 {
    margin-top: 2vh;
}

footer{
    margin-top: 5vh;
}

a {
    color: #EEEEEE;
}

#disclaimer{
    font-size: .75em;
}

#down{
    color: #c01111;
}

#up{
    color: #03ad12;
}

#lastChecked{
    margin-bottom: 0%;
}