body{
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Lucida Console';
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding-top: 2vh;
    margin-bottom: 0vh;
}

h3 {
    font-size: 1em;
    margin-top: 2vh;
    margin-bottom: -2vh;
}

footer{
    margin-top: 5vh;
}

a {
    color: #EEEEEE;
}