<!doctype html>
<html lang="en">
    <head>
        <title>DC Odyssey Status</title>
        <link rel = "stylesheet" href="static/css/style.css" />
    </head>
    <body>
        {% if result == 'UP' %}
            <h1>Odyssey is currently: <span style="color: #03ad12">UP</span> </h1>
        {% elif result == 'DOWN' %}
            <h1>Odyssey is currently: <span style="color: #c01111">DOWN</span> </h1>
        {% else %}
            [An error has occurred]: {{result}}</>
        {% endif %}
        <h3>Last checked: {{last_run_time}}</h3>
        <h3>Refresh page to update (checks once per minute)</h3>

        {% if one_day_uptime > -1 %}
        <h4 style="margin-top: 5%">24hr Uptime: {{one_day_uptime}}%</h4>
        {% endif %}

        {% if one_week_uptime > -1 %}
        <h4 style="margin-top: -2%">1 week Uptime: {{one_week_uptime}}%</h4>
        {% endif %}

        {% if one_month_uptime > -1 %}
        <h4 style="margin-top: -2%">1 month Uptime: {{one_month_uptime}}%</h4>
        {% endif %}

        {% if one_year_uptime > -1 %}
        <h4 style="margin-top: -2%">1 year Uptime: {{one_year_uptime}}%</h4>
        {% endif %}
    </body>
    <footer>
        Spread the word: This page can be accessed from: <a href="https://isodysseyup.com">isodysseyup.com</a>, <a href="https://isodysseyup.lol">isodysseyup.lol</a>, and <a href="https://isodyssey.online">isodyssey.online</a>.
    </footer>
</html>